bin/Debug/net6.0/AdminAPI.deps.json
bin/Debug/net6.0/AdminAPI.dll
bin/Debug/net6.0/AdminAPI.exe
bin/Debug/net6.0/AdminAPI.pdb
bin/Debug/net6.0/AdminAPI.runtimeconfig.json
bin/Debug/net6.0/API.deps.json
bin/Debug/net6.0/API.dll
bin/Debug/net6.0/API.exe
bin/Debug/net6.0/API.pdb
bin/Debug/net6.0/API.runtimeconfig.json
bin/Debug/net6.0/ECAdminAPI.dll
bin/Debug/net6.0/ECAdminAPI.pdb
bin/Debug/net6.0/Newtonsoft.Json.dll
bin/Debug/net6.0/NLog.Web.AspNetCore.dll
bin/Debug/net6.0/System.Data.SqlClient.dll
bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/Debug/net6.0/runtimes/win-arm64/native/sni.dll
bin/Debug/net6.0/runtimes/win-x64/native/sni.dll
bin/Debug/net6.0/runtimes/win-x86/native/sni.dll
bin/release/net6.0/AdminAPI.deps.json
bin/release/net6.0/AdminAPI.dll
bin/release/net6.0/AdminAPI.exe
bin/release/net6.0/AdminAPI.pdb
bin/release/net6.0/AdminAPI.runtimeconfig.json
bin/release/net6.0/appsettings.Development.json
bin/release/net6.0/appsettings.json
bin/release/net6.0/Dapper.dll
bin/release/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
bin/release/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/release/net6.0/Microsoft.IdentityModel.Logging.dll
bin/release/net6.0/Microsoft.IdentityModel.Protocols.dll
bin/release/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/release/net6.0/Microsoft.IdentityModel.Tokens.dll
bin/release/net6.0/Microsoft.OpenApi.dll
bin/release/net6.0/Newtonsoft.Json.dll
bin/release/net6.0/nlog.config
bin/release/net6.0/NLog.dll
bin/release/net6.0/NLog.Extensions.Logging.dll
bin/release/net6.0/NLog.Web.AspNetCore.dll
bin/release/net6.0/Swashbuckle.AspNetCore.Swagger.dll
bin/release/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/release/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/release/net6.0/System.Data.SqlClient.dll
bin/release/net6.0/System.IdentityModel.Tokens.Jwt.dll
bin/release/net6.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/release/net6.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
bin/release/net6.0/runtimes/win-arm64/native/sni.dll
bin/release/net6.0/runtimes/win-x64/native/sni.dll
bin/release/net6.0/runtimes/win-x86/native/sni.dll
obj/ECAdminAPI.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/ECAdminAPI.assets.cache
obj/Debug/net6.0/ECAdminAPI.csproj.FileListAbsolute.txt
obj/Debug/net6.0/ECAdminAPI.dll
obj/Debug/net6.0/ECAdminAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/ECAdminAPI.genruntimeconfig.cache
obj/Debug/net6.0/ECAdminAPI.pdb
obj/Debug/net6.0/ref/ECAdminAPI.dll
obj/Debug/net6.0/refint/ECAdminAPI.dll
.config/dotnet-tools.json
bin/release/net6.0/ECAdminAPI.pdb
bin/release/net6.0/publish/ECAdminAPI.dll
bin/release/net6.0/publish/ECAdminAPI.pdb
obj/Release/net6.0/ECAdminAPI.dll
obj/Release/net6.0/ECAdminAPI.pdb
bin/release/net6.0/ECAdminAPI.dll
